* {
    box-sizing: border-box;
}

html, body {
	height:100vh;
	padding: 0;
	margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 13px;
    margin: 10px;
    margin-bottom: 130px;
    border-radius: 10px;
    gap: 10px;

}

#header,
#winnerAnnounce,
.gameTitle {
    background-color: rgb(253, 229, 163);
}

.gameTitle {
    font-size: 40px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 50px;
}

.btn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;

    border: none;
    border-radius: 10px;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameUI {
    display: grid;
    font-size: 80px;
    grid-template: 150px 150px 150px / 150px 150px 150px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
    text-align: center;
    border: 1px solid black;
    border-right: none;
    border-top: none;
}

.box1,
.box4,
.box7 {
    border-left: none;
}

.box7,
.box8,
.box9 {
    border-bottom: none;
}


